{% extends "Main_Templates/base.html"%}



{% block skip_links %}
        <a href="#sidebar_section" class="skip_links" id = "skip_link_to_sidebar">Sidebar</a>
        <a href="#searchbar" class="skip_links" id = "skip_link_to_search_bar">Search Bar</a>
{% endblock skip_links %}

{% block page_header %}
    <h1 id="ideas_header_h1">
      Ideas:
    </h1>
{% endblock page_header %}



{% block body_block %}

<!-- looping over the database for posts -->
{% for post in posts %}
<article class = "body_block_article">
  <h2 class="body_block_h2">
    <a class="body_block_link" href="{% url 'ideas-post-detail' post.pk %}">
    <!-- href="{% url 'ideas-post-detail' post.id %}" -->
      {{ post.title|safe|linebreaks|truncatechars:50}}
    </a>
  </h2>

  <p class="post_main_body">
    {{post.body|safe|linebreaks|truncatechars:450}}
    {% if post.body|length > 450 %}
    <a class="body_block_link" href="{% url 'ideas-post-detail' post.id %}">[read more]</a>
    {% endif %}
  </p>
</article>
{% endfor %}

{% endblock body_block %}


    {% block sidebar %}
    <h3 id="sidebar_h3">
      Quick Reference
    </h3>
    <ul id="sidebar_ul">
      {% block post_button_sidebar %}
      <li class="sidebar_li">
          <a href="{% url 'ideas-post-create'%}"
          class = "sidebar_link"
          id="post_href">/++</a>
      </li>
      {% endblock post_button_sidebar %}
    <!-- only displaying sidebar if the user has added posts -->
    {% if posts %}
        {% for post in posts %}
              <li class="sidebar_li">
                <a class="sidebar_link" href="{% url 'ideas-post-detail' post.id %}">
                <!-- href="{% url 'thoughts-post-detail' post.id %}" -->
                  {{ post.title }}
                </a>
              </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endblock sidebar %}



{% block pagination_buttons %} {% endblock pagination_buttons %}


<!--
here's how you did it in the original version
{% block buttons %}
<div class="col">
  <button onclick="window.location.href = `{% url 'blog-post-create' %}`" class="footer_href">
    New Writing
  </button>
</div>
<div class="col">
  <button onclick="window.location.href = `{% url 'dossier-post-create' %}`" class="footer_href">
    New Dossier
  </button>
</div>
<div class="col">
  <button onclick="window.location.href = `{% url 'ideas-post-create' %}`" class="footer_href">
    New Code
  </button>
</div>
{% endblock buttons %}
 -->


 {% block searchbar %}

<form id="searchbar" class="searchbar_form">
  <!-- might remove the span of arrow class, might not be easy enough to impliment on vanilla -->
  <!-- <span class= "searchbar_arrow"> -->
  <input
    class="searchbar_input"
    type="search"
    placeholder="Search Ideas..."
    aria-label="Search work ideas"
    name="search"
    value=""
  />

  <!-- </span> -->
  <button class="searchbar_button" type="submit">
    Search
  </button>
</form>

 {% endblock searchbar %}



  {% block post_button %}
  <li class="quick_buttons_li">
      <a href="{% url 'ideas-post-create'%}" class = "quick_buttons_link" id="post_href">/++</a>
  </li>
  {% endblock post_button %}
