`{% extends "Main_Templates/base.html" %}

<!-- syntax for href href="{% url 'codingThots-post-update' object.id %}" -->

{% block edit_href %}
<div class="edit_href_div">
  <a class="edit_href" id="edit_post_href" href="{% url 'ideas-post-update' object.id %}">
    Edit
  </a>
  <a class="edit_href" id="delete_post_href" href="{% url 'ideas-post-delete' object.id %}">
    Delete
  </a>
</div>

{% endblock edit_href %}


{% block body_block %}

  <small>
    Date Posted: {{ object.date_originally_posted|date:"F d, Y" }}
  </small>
  <br>
  <small>
    Last Updated: {{ object.last_modified|date:"F d, Y P e" }}
  </small>
  <article class="body_block_article">
    <h2 class="detail_post_title">{{ object.title }}</h2>
    <p class="detail_post_body">{{ object.body }}</p>
  </article>
{% endblock body_block %}
`
