/* BASE.HTML CSS  */

/* this is a common way to remove the padding and margin across
the entire site, so while working you're thinking of the entire screen,
having a border-box sizing might make it 'easier' for resizing elements across
the board as well */

/*
html {
  --text-color-normal: #0a244d;
  --text-color-light: #8cabd9;
}

html[data-theme='dark'] {
  --text-color-normal: hsl(210, 10%, 62%);
  --text-color-light: hsl(210, 15%, 35%);
  --text-color-richer: hsl(210, 50%, 72%);
  --text-color-highlight: hsl(25, 70%, 45%);
}
*/

/* #A6761D"  */

/* using the solarized light palette */
html {
  background: var(--background);
  --background: #eee8d5;
  --triad-primary-1: #dc322f;
  --triad-primary-2: #268bd2;
  --triad-primary-3: #859900;
  --triad-secondary-1: #d33682;
  --triad-secondary-2: #6c71c4;
  --triad-secondary-3: #2aa198;
  --base-gray: #839496;
  --base-light: #fdf6e3;
  --base-dark: #073642;
  --base-text: #073642;
  --button-text: #002b36;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--base-text);
}

p,
a,
h1,
h2,
h3,
ul,
li,
small {
  font-family: Georgia, serif;
  color: var(--base-text);
}

ul {
  list-style-type: none;
}

nav {
  display: grid;
}

button {
  background-color: var(--base-gray);
  /* Green */
  border: none;
  color: var(--base-text);
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

main {
  margin: 1em 0 1em 0;
  padding-bottom: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header ."
    "body body body sidebar";
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

form {
  background: var(--base-light);
  padding: 0.25em;
  margin: 0.25em;
  outline: var(--base-dark);
  outline-color: var(--base-light);
}

input {
  background-color: var(--base-gray);
  width: 70%;
  padding: 0.5em;
  margin: 1em 1em 0 1em;
}

textarea {
  background-color: var(--base-gray);
  width: 70%;
  padding: 0.5em;
  margin: 1em;
}

/* Skip links */

/*
.skip_links_wrapper{

} */
/* :focus */
#skip_links_wrapper {
  display: block;
  grid-template-rows: (1, 12fr);
  grid-gap: 1em;
  height: 1em;
  margin: 0;
  background-color: var(--background);
  /* background-image: url("../images/busy_transit.jpg"); */
}
/* hiding them until tabbed over on them */
.skip_links {
  text-align: center;
  color: var(--background);
}

.skip_links:focus {
  color: var(--base-text);
  border: 1px solid var(--base-dark);
}

/* the navbar  will be hidden by default, given active class upon click */
#nav_bar {
  border: 0.1em solid var(--base-gray);
  padding: 1em 1em 2.5em 1em;
  margin: 1em 1em 3.5em 1em;
  /* background-image: url("../images/busy_transit.jpg"); */
}

.nav_ul {
  margin: 0.75em;
  /* padding: 0.em; */
  display: none;
}

.nav_bar_links {
  text-decoration: overline;
  color: var(--base-text);
}

#nav_bar_text {
  display: inline;
  font-family: monospace;
  font-size: 3em;
}

#nav_bar_image {
  filter: blur(0.1em);
  -webkit-filter: blur(0.1em);
  -moz-filter: blur(0.1em);
  -o-filter: blur(0.1em);
  -ms-filter: blur(0.1em);
  margin: -0.2em;
}

.nav_bar_li {
  text-align: left;
  margin: 1.5em;
  padding: 0.25em;
}
.nav_bar_logo {
  display: inline-block;
  margin-top: 1em;
  margin-left: 1.75em;
}

/* Time bar under hamburger */
.current_time_section {
  top: 4.5em;
  right: 2.75em;
  margin: 1em;
}

/* Navbar, button for assessibility, transparent background and border for style
this looks amazing while using the tab key to toggle the navigation
*/
#navbar_toggle {
  position: absolute;
  top: 2.6em;
  right: 2.75em;
  cursor: pointer;
  font-size: 1.3em;
  background: var(--background);
}

#js_navbar_toggle {
  border: none;
  background-color: Transparent;
}
.active_navbar {
  display: grid;
  /* using fractions here for grid */
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 1em;
}

.hamburger_bar_1,
.hamburger_bar_2,
.hamburger_bar_3 {
  width: 2em;
  height: 0.28em;
  background-color: var(--base-dark);
  margin: 0.35em 0.2em;
  padding-top: 0.28em;
  transition: 0.45s;
}

/*
So this is working (in the sense that JS adds the class), buuuutt issue is
that it's not actually animating anything  */
.change_hamburger .hamburger_bar_1 {
  -webkit-transform: rotate(-70deg) translate(-0.35em, 0.2em);
  transform: rotate(-70deg) translate(-0.35em, 0.2em);
}
.change_hamburger .hamburger_bar_2 {
  opacity: 0.71;
  background-color: var(--triad-primary-2);
}
.change_hamburger .hamburger_bar_3 {
  -webkit-transform: rotate(65deg) translate(-0.35em, -0.2em);
  transform: rotate(65deg) translate(-0.35em, -0.2em);
}
.navigation_footer {
  position: fixed;
  display: block;
  background-color: var(--base-light);
  margin: 0.5em 0 0 0;
  padding: 1em;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}



/* HOME.HTML CSS */
.home_page_header_h1 {
  color: var(--triad-primary-2);
}

/*
FUCKED UP THE PADDING ON SMALLER SCREENS WITH THE SEARCHBAR */

#search_and_post_div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "search post";
}

/* Search Bar for all apps */
form.searchbar_form {
  grid-area: "search";
}

.searchbar_input {
  padding: 1em 1em;
  margin: 0.5em;
  color: var(--base-dark);
  background-color: var(--base-light);
  opacity: 0.9;
}
.searchbar_button {
  background-color: var(--base-gray);
  color: var(--base-light);
  border: none;
  margin: 0.5em;
  padding: 1em 2em;
  text-decoration: none;
}

/* POST "BUTTON", NEXT TO SEARCHBAR */
#post_href {
  margin: 1em;
  padding: 1em;
  background-color: var(--triad-primary-3);
  color: var(--base-light);
  grid-area: "post";

}

/* Editing the post for all apps */
.edit_href_div {
  margin: 0 0 1em;
  padding: 0 0 1em;
}
.edit_href {
  font-size: 1.5em;
  margin: 1em 0.25em 1em;
  padding: 0.25em;
  outline: 0.05em solid var(--base-gray);
  background: var(--base-gray);
}


/* Repeating for the header/body/article of the apps */
#block_page_header_section {
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  grid-area: "header";
}

#body_block_container {
  grid-area: "body";
  /* margin: 1em; */
  /* padding: 1em 0 1em 0; */
  /* width: 95%; */
  height: 90%;
}

#sidebar_section {
  grid-area: "sidebar";
  outline: 0.1em var(--base-gray) solid;
  margin-right: 0.5em;
  padding-right: 0.5em;
  line-height: 1.25em;
  text-align: center;
}

.sidebar_link {
  padding: 0.75em;
  margin: 0.75em;
}

.body_block_article {
  margin: 0.25em;
  padding: 0.25em;
  outline: 0.1em;
  outline-style: solid;
  outline-color: var(--base-gray);
}
.body_block_h2 {
  text-align: left;
  padding: 0.25em 0 0.5em 0.75em;
}
.body_block_p {
  text-indent: 0.75em;
  text-align: justify;
}

/* all forms for new and edits of all posts by class */
.post_form_fieldset {
}

.post_form_legend {
  text-align: center;
  color: var(--base-text);
}

label.form_label {
  padding: 1em;
  margin: 1em;
  position: relative;
}

/* Dossier.html  */
.dossier_header_h1 {
  color: var(--triad-primary-2);
}

/* Workideas.html */
.work_ideas_header_h1 {
  color: var(--triad-primary-1);
}

.thoughts_header_h1 {
  color: var(--triad-primary-3);
}

.post_title {
  color: var(--base-dark);
  margin: 0.25em;
  padding: 0.25em;
}
.post_main_body {
  color: var(--base-dark);
  margin: 0.25em;
  padding: 0.25em;
}

/* Hiding the quick button at the bottom for anything larger than phone */
@media screen and (min-width: 767px) {
  .quick_buttons_ul {
    display: none;
  }

  .quick_buttons_li {
    display: none;
  }

  .quick_buttons_a {
    display: none;
  }
}

/** Mobile **/
@media only screen and (max-width: 767px),
  only screen and (max-device-width: 767px) {
  /* Increasing the padding on the bottom due to the addition of the
    the hot buttons for naviagation */
  main {
    padding-bottom: 35%;
    margin-bottom: 10%;
  }

  .quick_buttons_ul {
    list-style: none;
  }

  /* BUG: SOME REASON THE VAR(--BASE-COLOR OF WHATEVER) ISN'T WORKING HERE */

  .quick_buttons_li {
    margin: 0.75em 0.35em 0.35em 0.35em;
    padding: 0.75em 0.35em 0.35em 0.35em;
    display: inline;
    background-color: rgba(0, 0, 0, 0.35);
    border: 0.05em dotted solid var(--base-dark);
  }
  /* play around with this here, it has issues on super small screens (not sure if needed) */

  .quick_buttons_link {
    text-decoration: none;
    color: var(--base-dark);
    font-size: 1.5em;
  }

  #sidebar_section {
    display: none;
  }

  #main {
    grid-template-areas:
      "header header header ."
      "body body body body";
  }
}

/** Mobile (extra small) **/
@media only screen and (max-width: 600px),
  only screen and (max-device-width: 600px) {
  /* Increasing the padding on the bottom due to the addition of the
    the hot buttons for naviagation */
  main {
    padding-bottom: 35%;
    margin-bottom: 25%;
  }
  .quick_buttons_ul {
    list-style: none;
  }

  /* BUG: SOME REASON THE VAR(--BASE-COLOR OF WHATEVER) ISN'T WORKING HERE */

  .quick_buttons_li {
    margin: 0.35em 0.35em 0.35em 0.35em;
    padding: 0.35em 0.35em 0.35em 0.35em;
    display: inline;
    background-color: rgba(0, 0, 0, 0.35);
    border: 0.05em dotted solid var(--base-dark);
  }
  /* play around with this here, it has issues on super small screens (not sure if needed) */

  .quick_buttons_link {
    text-decoration: none;
    color: var(--base-dark);
    font-size: 1.5em;
  }

  #sidebar_section {
    display: none;
  }

  #main {
    grid-column: auto;
    grid-template-areas:
      "header ."
      "body";
  }
}
