/* BASE.HTML CSS  */

/* this is a common way to remove the padding and margin across
the entire site, so while working you're thinking of the entire screen,
having a border-box sizing might make it 'easier' for resizing elements across
the board as well */

/*
html {
  --text-color-normal: #0a244d;
  --text-color-light: #8cabd9;
}

html[data-theme='dark'] {
  --text-color-normal: hsl(210, 10%, 62%);
  --text-color-light: hsl(210, 15%, 35%);
  --text-color-richer: hsl(210, 50%, 72%);
  --text-color-highlight: hsl(25, 70%, 45%);
}
*/

/* using the solarized light palette */
html.light_mode {
  background: var(--background);
  --background: rgba(253, 246, 227, 1);
  --background-transparent: rgba(253, 246, 227, 0.1);
  --triad-primary-1: #dc3682;
  --triad-primary-2: #268bd2;
  --triad-primary-3: #859900;
  --triad-primary-4: #b58900;
  --triad-secondary-1: #d33682;
  --triad-secondary-2: #6c71c4;
  --triad-secondary-3: #2aa198;
  --triad-secondary-4: #cb4b16;
  --base-gray: #657b83;
  --transluscent-gray: rgba(101, 123, 131, 0.2);
  --semi-transluscent-gray: rgba(101, 123, 131, 0.4);
  --base-light: #eee8d5;
  --base-dark: #002b36;
  --base-text: #586e75;
  --button-text: #002b36;
  --button-background: #2aa198;
  --hamburger-background: #002b36;
}

html.dark_mode {
  background: var(--background);
  --background: #002b36;
  --background-transparent: rgba(43, 54, 193, 0.1);
  --triad-primary-1: #dc3682;
  --triad-primary-2: #268bd2;
  --triad-primary-3: #859900;
  --triad-primary-4: #b58900;
  --triad-secondary-1: #d33682;
  --triad-secondary-2: #6c71c4;
  --triad-secondary-3: #2aa198;
  --triad-secondary-4: #cb4b16;
  --base-gray: #657b83;
  --transluscent-gray: rgba(101, 123, 131, 0.2);
  --semi-transluscent-gray: rgba(101, 123, 131, 0.4);
  --base-light: #586e75;
  --base-dark: #002b36;
  --base-text: #839496;
  --button-text: #002b36;
  --button-background: #2aa198;
  --hamburger-background: rgba(253, 246, 227, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--base-text);
}

p,
a,
h1,
h2,
h3,
ul,
li,
small {
  font-family: "Lucida Console", Monaco, monospace;
  color: var(--base-text);
}

ul {
  list-style-type: none;
}

nav {
  display: grid;
}

button {
  background-color: var(--button-background);
  color: var(--button-text);
}


/* some button defaults that need to be applied individually not global
border: none;
padding: 1em 1.5em;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 1em; */


main {
  display: grid;
  grid-template-columns: 1fr repeat(auto);
  grid-template-areas:
    "header . sidebar"
    "body body sidebar"
    " . pagination ."
    ". bottom_page .";
  margin: 1em 0 1em 0;
  padding-bottom: 5%;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

form {
  background: var(--base-light);
  padding: 0.25em;
  margin: 0.25em;
  outline: var(--base-dark);
  outline-color: var(--base-light);
}

input {
  background-color: var(--base-gray);
  width: 70%;
  padding: 0.5em;
  margin: 1em 1em 0 1em;
}

textarea {
  background-color: var(--base-gray);
  width: 70%;
  padding: 0.5em;
  margin: 1em;
}

strong {
  font-family: monospace;
}

#skip_links_wrapper {
  display: flex;
  height: 0.5em;
  margin: 0;
  background-color: var(--background);
}
/* hiding them until tabbed over on them */
.skip_links {
  text-align: center;
  color: var(--background);
}

.skip_links:focus {
  color: var(--base-light);
  border: 1px solid var(--transluscent-gray);
}

/* the navbar  will be hidden by default, given active class upon click */
#nav_bar {
  border: 0.1em solid var(--semi-transluscent-gray);
  padding: 1em 1em 2.5em 1em;
  margin: 1em 1em 3.5em 1em;
  /* background-image: url("../images/busy_transit.jpg"); */
}

.nav_ul {
  margin: 0.75em;
  /* padding: 0.em; */
  display: none;
}

.nav_bar_links {
  text-decoration: overline;
  color: var(--base-text);
}

#nav_bar_text {
  display: inline;
  font-family: monospace;
  font-size: 3em;
}

#nav_bar_image {
  width: 10em;
  height: 10em;
  filter: blur(0.05em);
  -webkit-filter: blur(0.05em);
  -moz-filter: blur(0.05em);
  -o-filter: blur(0.05em);
  -ms-filter: blur(0.05em);
  margin: 2em 0 0 1em;
}

.nav_bar_li {
  text-align: left;
  margin: 1.5em;
  padding: 0.25em;
}
.nav_bar_logo {
  display: inline-block;
  margin-top: 1em;
  margin-left: 1.75em;
}

/* Time bar under hamburger */
.current_time_section {
  top: 4.5em;
  right: 2.75em;
  margin: 1em;
}

/* Navbar, button for assessibility, transparent background and border for style
this looks amazing while using the tab key to toggle the navigation
*/
#navbar_toggle {
  position: absolute;
  top: 2.6em;
  right: 2.75em;
  cursor: pointer;
  font-size: 1.3em;
  background: transparent;
}

#js_navbar_toggle {
  border: none;
  background-color: Transparent;
}
.active_navbar {
  display: grid;
  /* using fractions here for grid */
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 1em;
}

.hamburger_bar_1,
.hamburger_bar_2,
.hamburger_bar_3 {
  width: 2em;
  height: 0.28em;
  background-color: var(--hamburger-background);
  margin: 0.35em 0.2em;
  padding-top: 0.28em;
  transition: 0.45s;
}

.change_hamburger .hamburger_bar_1 {
  -webkit-transform: rotate(-70deg) translate(-0.35em, 0.2em);
  transform: rotate(-70deg) translate(-0.35em, 0.2em);
}
.change_hamburger .hamburger_bar_2 {
  opacity: 0.71;
  background-color: var(--triad-primary-2);
}
.change_hamburger .hamburger_bar_3 {
  -webkit-transform: rotate(65deg) translate(-0.35em, -0.2em);
  transform: rotate(65deg) translate(-0.35em, -0.2em);
}


/* Switching color scheme button */
.color_scheme_button{
  padding: 1em;
  margin: 0.5em;
  position: static;
  left: 0;
  top: 0;
}

/*
FIX THE NAVIAGTION AND ADD IT BACK HERE IF IT CAN LOGICALLY GO HERE

#navigation_footer {
  position: fixed;
  display: block;
  background-color: var(--base-light);
  margin: 0.5em 0 0 0;
  padding: 1em;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
} */

#navigation_footer {
  display: flex;
  justify-content: flex-start;
  background-color: var(--base-light);
  /* margin: 0.5em 0 0 0; */
  /* padding: 1em; */
  /* bottom: 0; */
  /* grid-template-columns: 80% 20%;
  grid-template-areas:
    "quick_buttons_ul ."
    "search-form post"; */
}

#searchbar_input {
  color: var(--base-dark);
  background-color: var(--base-light);
  opacity: 0.9;
  /* grid-area: search-input; */
  /* padding: 1em 1em;
    margin: 0.5em; */
}
.searchbar_button {
  background-color: var(--base-gray);
  color: var(--base-light);
  border: none;
  text-decoration: none;
  margin: 0.5em;
  padding: 0.5em;
}

#post_href {
  background-color: var(--triad-primary-3);
  color: var(--base-light);
  margin: 1em;
  padding: 1em;
}

/* Editing the post for all apps */
.edit_href_div {
  margin: 0 0 1em;
  padding: 0 0 1em;
}

.edit_href {
  font-size: 1.5em;
  margin: 1em 0.25em 1em;
  padding: 0.25em;
  outline: 0.05em solid var(--base-gray);
  background: var(--base-gray);
}

/* Repeating for the header/body/article of the apps */
#block_page_header_section {
  grid-area: header;
  margin: 0.5em;
  margin-left: 1em;
  padding: 0.5em;
  text-align: left;
}

#body_block_container {
  grid-area: body;
  margin: 1em;
}

#sidebar_section {
  grid-area: sidebar;
  /* outline: 0.5em var(--base-gray) solid; */
  margin-right: 1em;
  line-height: 1.5em;
  text-align: right;
}

#pagination_section {
  grid-area: pagination;
}

#bottom_of_page {
  grid-area: bottom_page;
}

.sidebar_link {
  padding: 0.75em;
  margin: 0.75em;
}

.body_block_article {
  margin: 1em 0 1em 1em;
  padding: 0.5em;
  padding-left: 1em;
  outline: 0.01em;
  outline-style: dashed;
  outline-color: var(--transluscent-gray);
}
.body_block_h2 {
  text-align: left;
  padding: 0.25em 0 0.5em 0.75em;
}

.body_block_p {
  text-indent: 0.75em;
  text-align: justify;
  white-space: pre;
}

/* all forms for new and edits of all posts by class */
.post_form_fieldset {
}

.post_form_legend {
  text-align: center;
  color: var(--base-text);
}

label.form_label {
  padding: 1em;
  margin: 1em;
  position: relative;
}

/* Home.html */
#home_page_header_h1 {
  color: var(--triad-primary-2);
}

/* About.html */
#about_page_header_h1 {
  color: var(--triad-primary-3);
}

#contact_h2 {
  font-weight: bold;
  font-size: 24px;
}

#email {
  text-shadow: 1px;
  text-decoration-style: double;
}

/* Dossier.html  */
#dossiers_header_h1 {
  color: var(--triad-primary-3);
}

/* Workideas.html */
#work_ideas_header_h1 {
  color: var(--triad-secondary-2);
}

/* Thoughts.html */
#thoughts_header_h1 {
  color: var(--triad-primary-3);
}

.post_title {
  color: var(--base-dark);
  margin: 0.25em;
  padding: 0.25em;
}
.post_main_body {
  color: var(--base-dark);
  margin: 0.25em;
  padding: 0.25em;
}

/* MEDIA SIZING  */

/* Needs to be FIXED */

/* Hiding the quick button at the bottom for anything larger than phone */
@media screen and (min-width: 767px) {
  #quick_buttons_ul {
    display: none;
  }

  /* .quick_buttons_li {
    display: none;
  }

  .quick_buttons_a {
    display: none;
  } */
}

/** Mobile **/
@media only screen and (max-width: 767px),
  only screen and (max-device-width: 767px) {
  /* Increasing the padding on the bottom due to the addition of the
    the hot buttons for naviagation */
  main {
    padding-bottom: 5%;
    margin-bottom: 5%;
  }

  #post_href {
    margin: 1em;
    padding: 1em;
  }

  #quick_buttons_ul {
    list-style: none;
    background-color: var(--background-transparent);
    /* margin-left: 1em; */
  }

  /* BUG: SOME REASON THE VAR(--BASE-COLOR OF WHATEVER) ISN'T WORKING HERE */

  .quick_buttons_li {
    /* margin: 0.75em 0.35em 0.35em 0.35em;
    padding: 0.75em 0.35em 0.35em 0.35em; */
    display: inline;
    /* background-color: var(--background-transparent); */
    border: 0.05em dotted solid var(--base-dark);
  }
  /* play around with this here, it has issues on super small screens (not sure if needed) */

  .quick_buttons_link {
    text-decoration: none;
    color: var(--base-dark);
    font-size: 1.5em;
  }

  #sidebar_section {
    display: none;
  }

  .main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "body"
      "pagination"
      "quick_buttons";
  }
}

/** Mobile (extra small) **/
@media only screen and (max-width: 600px),
  only screen and (max-device-width: 600px) {
  /* Increasing the padding on the bottom due to the addition of the
    the hot buttons for naviagation */
  main {
    padding-bottom: 5%;
    margin-bottom: 5%;
  }

  #quick_buttons_ul {
    list-style: none;
  }

  /* BUG: SOME REASON THE VAR(--BASE-COLOR OF WHATEVER) ISN'T WORKING HERE */

  .quick_buttons_li {
    margin: 0.35em 0.35em 0.35em 0.35em;
    padding: 0.35em 0.35em 0.35em 0.35em;
    display: inline;
    background-color: rgba(0, 0, 0, 0.35);
    border: 0.05em dotted solid var(--base-dark);
  }
  /* play around with this here, it has issues on super small screens (not sure if needed) */

  .quick_buttons_link {
    text-decoration: none;
    color: var(--base-dark);
    font-size: 1.5em;
  }

  #sidebar_section {
    display: none;
  }

  #main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "body";
  }
}
