{% extends "Main_Templates/base.html"%}



{% block skip_links %}
        <a href="#sidebar_section" class="skip_links">Sidebar</a>
        <a href="#bottom_of_page" class="skip_links">Bottom of Page</a>
        <a href="#search_bar" class="skip_links">Search Bar</a>
{% endblock skip_links %}



{% block page_header %}
    <h1 class="dossiers_header_h1">
      Dossiers:
    </h1>
{% endblock page_header %}


{% block body_block %}

<!-- looping over the database for posts -->
{%for post in posts%}
<article class = "body_block_article">
  <h1 class="body_block_h1">
    <a class="body_block_link" href="{% url 'dossiers-post-detail' post.id %}">

      {{ post.name }}
    </a>
  </h1>
  <h3 class="post_h3_header">
    Hobbies:
  </h3>
  <p class="body_block_p">
      {{ post.hobbies}}
      </p>
  <h3 class="post_h3_header">
    Work:
  </h3>
  <p class="body_block_p">
      {{ post.work }}
      </p>
  <h3 class="post_h3_header">
    Appearance:
  </h3>
  <p class="body_block_p">
  {{post.appearance}}
      </p>
  <h3 class="post_h3_header">
    Things to remember:
  </h3>
  <p class="body_block_p">
   {{post.toRemember}}
      </p>

  <h3 class="post_h3_header">
    Discussions:
  </h3>
  <p class="body_block_p">
    {{post.discussions|safe|linebreaks|truncatechars:450}}
    <a class="body_block_link" href="{% url 'dossiers-post-detail' post.id %}">[read more]</a>
  </p>
</article>

{% endfor %}

{% endblock body_block %}

      {% block side_bar %}

      <section id="sidebar_section">

        <h3 id="sidebar_h3">
          Quick Reference
        </h3>
          {% for post in posts %}
              <p>
                <a class="body_block_link" href="{% url 'dossiers-post-detail' post.id %}">
                <!-- href="{% url 'thoughts-post-detail' post.id %}" -->
                  {{ post.name }}
                </a>
                    </p>

          {% endfor %}

        </section>

      {% endblock side_bar %}


{% block pagination_buttons%} {% endblock pagination_buttons%}


{% block search_and_post %}

    <form id="search_bar" class="searchbar_form">
      <input class="searchbar_input" type="search" placeholder="Search Dossiers..." aria-label="Search" name='search' value="">
      <button class="searchbar_button" type="submit">
        Search
      </button>
    </form>

{% endblock search_and_post %}

<!--
here's how you did it in the original version
{% block buttons %}
<div class="col">
  <button onclick="window.location.href = `{% url 'blog-post-create' %}`" class="footer_href">
    New Writing
  </button>
</div>
<div class="col">
  <button onclick="window.location.href = `{% url 'dossier-post-create' %}`" class="footer_href">
    New Dossier
  </button>
</div>
<div class="col">
  <button onclick="window.location.href = `{% url 'workIdeas-post-create' %}`" class="footer_href">
    New Code
  </button>
</div>
{% endblock buttons %}
 -->
