{% extends "Main_Templates/base.html"%}

{% block skip_links %}
        <a href="#sidebar_section" class="skip_links" id = "skip_link_to_sidebar">Sidebar</a>
        <a href="#searchbar" class="skip_links" id = "skip_link_to_search_bar">Search Bar</a>
{% endblock skip_links %}

{% block page_header %}
<h1 id="dossiers_header_h1">
  Dossiers:
</h1>
{% endblock page_header %}

{% block body_block %}

<!-- looping over the database for posts -->
{% for post in posts %}
<article class="body_block_article">
  <h2 class="body_block_h2">
    <a class="body_block_link" href="{% url 'dossiers-post-detail' post.id %}">
      {{ post.name }}
    </a>
  </h2>


  <p class="post_main_body">
    <strong>Discussions: </strong>{{post.discussions|safe|linebreaks|truncatechars:200}}
    {% if post.discussions|length > 200 %}
    <a class="body_block_link" href="{% url 'dossiers-post-detail' post.id %}">[read more]</a>
    {% endif %}
  </p>

<p class="post_main_body">
  <strong>Hobbies: </strong> {{ post.hobbies|safe|linebreaks|truncatechars:50}}
</p>
<p class="post_main_body">
  <strong>Work: </strong>{{ post.work|safe|linebreaks|truncatechars:50}}
</p>
<p class="post_main_body">
  <strong>Appearance: </strong
  >{{post.appearance|safe|linebreaks|truncatechars:50}}
</p>
<p class="post_main_body">
  <strong>Notable Memories: </strong>
  {{post.notable_memories|safe|linebreaks|truncatechars:50}}
</p>



</article>

{% endfor %}
{% endblock body_block %}


{% block sidebar %}
<h3 id="sidebar_h3">
  Quick Reference and Add New
</h3>

<ul id="sidebar_ul">
        {% block post_button_sidebar %}
            <li class="sidebar_li">
              <a
              href="{% url 'dossiers-post-create'%}"
              class="sidebar_link"
              id="post_href">
              /++
            </a>
          </li>

      {% endblock post_button_sidebar %}

  {% if posts %}

    {% for post in posts %}
    <li class="sidebar_li">
      <a
        class="sidebar_link"
        href="{% url 'dossiers-post-detail' post.id %}">
        {{ post.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock sidebar %}

 {% block pagination_buttons%}
 {% endblock pagination_buttons%}

 {% block searchbar %}
          <form id="searchbar" class="searchbar_form">
            <input
              class="searchbar_input"
              type="search"
              placeholder="Search Dossiers..."
              aria-label="Search"
              name="search"
              value=""/>
            <button class="searchbar_button" type="submit">
              Search
            </button>
          </form>
{% endblock searchbar %}


{% block post_button %}
<li class="quick_buttons_li">
  <a
    href="{% url 'dossiers-post-create'%}"
    class="quick_buttons_link"
    id="post_href">
    /++
    </a>
</li>

{% endblock post_button %}

<!--
here's how you did it in the original version
{% block buttons %}
<div class="col">
  <button onclick="window.location.href = `{% url 'blog-post-create' %}`" class="footer_href">
    New Writing
  </button>
</div>
<div class="col">
  <button onclick="window.location.href = `{% url 'dossier-post-create' %}`" class="footer_href">
    New Dossier
  </button>
</div>
<div class="col">
  <button onclick="window.location.href = `{% url 'ideas-post-create' %}`" class="footer_href">
    New h3
  </button>
</div>
{% endblock buttons %}
 -->
