{% extends "Main_Templates/base.html" %}


{% block edit_href %}
<div class="edit_href_div">
  <a class="edit_href" id="edit_post_href" href="{% url 'dossiers-post-update' object.id %}">
    Edit
  </a>
  <a class="edit_href" id="delete_post_href" href="{% url 'dossiers-post-delete' object.id %}">
    Delete
  </a>
</div>

{% endblock edit_href %}


{% block body_block %}

  <small>
    Date Posted: {{ object.date_originally_posted|date:"F d, Y" }}
  </small>
  <br>
  <small>
    Last Updated: {{ object.last_modified|date:"F d, Y P e" }}
  </small>
<article class="body_block_article">
  <h2 class="body_block_h2">{{ object.name }}</h2>
  <p class="post_main_body"><strong>Hobbies: </strong> {{ object.hobbies }}</p>
  <p class="post_main_body"><strong>Work: </strong>{{ object.work }}</p>
  <p class="post_main_body">
    <strong>Appearance: </strong>{{ object.appearance }}
  </p>
  <p class="post_main_body">
    <strong>Notable Memories: </strong>{{ object.notable_memories }}
  </p>
  <p class="post_main_body">
    <strong>Discussions: </strong>{{ object.discussions }}
  </p>
</article>

{% endblock body_block %}
