{% extends "Main_Templates/base.html"%}
{% load static %}

{% block page_header %}
<section class="block_page_header_section">
  <h1 id="about_page_header_h1"></h1>
</section>
{% endblock page_header %}
{% block body_block %}
<p>
  <button id="color_scheme_toggle_button_navbar" class= "color_scheme_toggle_button">
      <img class="color_scheme_toggle_image" src="{% static 'images/delta_small.png'%}" />
  </button>
</p>

<p class="body_block_p">
  Welcome to my simple CRUD app. I tried making this as vanilla as possible, with mostly Python's <a href="https://www.djangoproject.com/">Django</a>, 
  CSS3, and JavaScript. I tried to made this this easily customizable, in at least using CSS variables for colors. 
  If you know a bit about web design, you should be able to just use this. If you want, you can clone the code from 
  <a href="https://github.com/punctuationmarks" target="_blank">GitHub</a> and throw it on <a href="https://www.heroku.com/pricing">Heroku</a> 
  for a free web app with little annoyance with deployment. Or throw it on a <a href="https://www.linode.com/">Linode</a> 
  server for just $5 a month (<a href="https://promo.linode.com/coreyschafer/">here's a $20 credit, thanks Corey Schafer</a>) that you have complete control over.
  <br>
  This is free and open software and use it how you'd like. Just say it came from punctuationmarks.
  <br>
  <br>
</p>
<h2 id="contact_h2">
  Want to contact me? Work with me? Have a passion for people and making the world a better place?
  Send an email to <a href="https://www.protonmail.com" target="_blank" id="email">punctuationmarks at protonmail dot com</a>
</h2>

<br>
<br>
<br>
<p class="body_block_p">
  <b>
  MIT License
  </b>
  Copyright (c) 2019 punctuationmarks

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
</p>
{% endblock body_block %}
