{% extends "Main_Templates/base.html"%}
{% block page_header %}
<section class="block_page_header_section">
  <h1 id="about_page_header_h1">
    About:
  </h1>
</section>
{% endblock page_header %}
{% block body_block %}
<p class="body_block_p">
  I tried to build it in such a way to not have
  too many dependencies, thus theoretical have fewer breaking changes.
  Been working on getting better at the fundamentals instead of reaching for a frontend framework.
  <br>
  This is free and open software.
  You can download the project <a href="www.github.com/punctuationmarks">here</a>
  and use it how you'd like. Just say it came from punctuationmarks.
  <br>
  <br>
</p>
<h2 id="contact_h2">
  Want to contact me? Work with me? Have a passion for people and making the world a better place?
  Send an email to <a href="https://www.protonmail.com" target="_blank" id="email">punctuationmarks at protonmail dot com</a>
</h2>


<br>
<br>
<br>
<p class="body_block_p">
  <b>
  MIT License
  </b>
  Copyright (c) 2019 punctuationmarks

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
</p>
{% endblock body_block %}
