{% extends "Main_Templates/base.html"%}

{% block skip_links %}
<a href="#sidebar_section" class="skip_links">Skip to Post Options</a>
{%endblock skip_links %}


{% block page_header %}
{% endblock page_header %}


{% block body_block %}
<article class="body_block_article">
  <h2>This is a handy tool for helping you remember your friends and acquaintances and for jotting little reminders.</h2>
  <p class="body_block_p">
    Everyone is unique and different. This is an app for you to remember that, 
    and to express your memories with each
    individual. Also, your thoughts matter. Guard them. Writing down things
    helps you formulate your overall concepts. But don't rely solely on this
    app, get out and write with a pen. Handwriting has been shown to help with
    memory as well as idea exploration. But this is a nice place to start since you always have your phone on you.
    <br />
  </p>
</article>
{% endblock body_block %}
{% block sidebar %}
  <h3 id="home_sidebar_h3">Quick Post</h3>
  <ul id="sidebar_ul">
    <li class="home_sidebar_li"><a href="{% url 'dossiers-create'%}"> Dossier ++ </a></li>
    <li class="home_sidebar_li"><a href="{% url 'thoughts-post-create'%}"> Thoughts ++ </a></li>
    <li class="home_sidebar_li"><a href="{% url 'ideas-create'%}">Ideas ++ </a></li>
  </ul>
{% endblock sidebar %}
