{% extends "Main_Templates/base.html"%}

{% block skip_links %}
        <a href="/dossiers" class="skip_links">Skip to Dossiers</a>
        <a href="/workIdeas"class="skip_links">Skip to Work Ideas</a>
        <a href="#main" class="skip_links">Skip to Main</a>
        <a href="#sidebar_section" class="skip_links">Sidebar</a>
        <a href="#bottom_of_page" class="skip_links">Bottom of Page</a>
{% endblock skip_links %}

{% block page_header %}
    <h1 id="thoughts_header_h1">
      Thoughts:
    </h1>
{% endblock page_header %}


{% block body_block %}
    <!-- looping over the database for posts -->
    {% for post in posts %}
    <article class = "body_block_article">
      <h2 class="body_block_h2">
        <a class="body_block_link" href="{% url 'thoughts-post-detail' post.pk %}">
        <!-- href="{% url 'thoughts-post-detail' post.id %}" -->
          {{ post.title }}
        </a>
      </h2>

      <p class="">
        {{ post.body|safe|linebreaks|truncatechars:600 }}
        {% if post.body|length > 600 %}
        <a class="" href="{% url 'thoughts-post-detail' post.id %}">[read more]</a>
        {% endif %}
      </p>
    </article>
    {% endfor %}

{% endblock body_block %}

      {% block side_bar %}


      <section id="sidebar_section">
        <h3 id="sidebar_h3">
          Quick Reference
        </h3>
        <ul id="side_bar_ul">
          {% for post in posts %}
                <li class="side_bar_li">
                  <a class="body_block_link" href="{% url 'thoughts-post-detail' post.id %}">
                  <!-- href="{% url 'thoughts-post-detail' post.id %}" -->
                    {{ post.title }}
                  </a>
                </li>
          {% endfor %}
        </ul>
        </section>


      {% endblock side_bar %}

{% block pagination_buttons%} {% endblock pagination_buttons%}


<!--
here's how you did it in the original version
{% block buttons %}
<div class="col">
  <button onclick="window.location.href = `{% url 'blog-post-create' %}`" class="footer_href">
    New Writing
  </button>
</div>
<div class="col">
  <button onclick="window.location.href = `{% url 'dossier-post-create' %}`" class="footer_href">
    New Dossier
  </button>
</div>
<div class="col">
  <button onclick="window.location.href = `{% url 'thoughts-post-create' %}`" class="footer_href">
    New Code
  </button>
</div>
{% endblock buttons %}
 -->


 {% block search_and_post %}
       <form class="searchbar_form">
           <input class="searchbar_input" type="search" placeholder="Search work ideas..." aria-label="Search work ideas" name='search' value="">
         <button class="searchbar_button" type="submit">
           Search
         </button>
       </form>
       <a id="post_href" href="/thoughts/new">Post</a>
 {% endblock search_and_post %}
