{% extends "Main_Templates/base.html"%}

{% block skip_links %}
        <a href="#sidebar_section" class="skip_links" id = "skip_link_to_sidebar">Sidebar</a>
        <a href="#searchbar" class="skip_links" id = "skip_link_to_search_bar">Search Bar</a>
{% endblock skip_links %}

{% block page_header %}
    <h1 id="thoughts_header_h1">
      Thoughts:
    </h1>
{% endblock page_header %}


{% block body_block %}
    <!-- looping over the database for posts -->
    {% for post in posts %}
    <article class = "body_block_article">
      <h1 class="body_block_h1">
        <a class="body_block_link" href="{% url 'thoughts-post-detail' post.pk %}">
          {{ post.title|safe|linebreaks|truncatechars:50 }}
        </a>
      </h1>

      <p class= "post_main_body">
        {{ post.body|safe|linebreaks|truncatechars:450 }}
        {% if post.body|length > 450 %}
        <a class="" href="{% url 'thoughts-post-detail' post.id %}">[read more]</a>
        {% endif %}
      </p>
    </article>
    {% endfor %}

{% endblock body_block %}

      {% block side_bar %}

      {% if posts %}

        <h3 id="sidebar_h3">
          Quick Reference
        </h3>
        <ul id="side_bar_ul">
          {% for post in posts %}
                <li class="side_bar_li">
                  <a class="body_block_link" href="{% url 'thoughts-post-detail' post.id %}">
                  <!-- href="{% url 'thoughts-post-detail' post.id %}" -->
                    {{ post.title }}
                  </a>
                </li>
          {% endfor %}
        </ul>
        {% endif %}


      {% endblock side_bar %}

{% block pagination_buttons%}
{% endblock pagination_buttons%}


<!--
here's how you did it in the original version
{% block buttons %}
<div class="col">
  <button onclick="window.location.href = `{% url 'blog-post-create' %}`" class="footer_href">
    New Writing
  </button>
</div>
<div class="col">
  <button onclick="window.location.href = `{% url 'dossier-post-create' %}`" class="footer_href">
    New Dossier
  </button>
</div>
<div class="col">
  <button onclick="window.location.href = `{% url 'thoughts-post-create' %}`" class="footer_href">
    New Code
  </button>
</div>
{% endblock buttons %}
 -->


 {% block searchbar %}
       <form class="searchbar_form">
           <input class="searchbar_input" type="search" placeholder="Search Thoughts.." aria-label="Search work ideas" name='search' value="">
         <button class="searchbar_button" type="submit">
           Search
         </button>
       </form>
 {% endblock searchbar %}

 {% block post_button %}
  <li class="quick_buttons_li">
     <a href="{% url 'thoughts-post-create'%}" class = "quick_buttons_link" id="post_href">/++</a>
  </li>
 {% endblock post_button %}
