{% extends "Main_Templates/base.html" %}
{% block body_block %}
    <form method="POST" class="post_form">
      {% csrf_token %}
      <fieldset class="post_form_fieldset">
        <legend class="post_form_legend">Jot your thoughts</legend>
        <label for="title" class="form_label">thot's title</label>
        {{ form.title }}<br />
        <br />
        <label for="body" class="form_label">thot's body</label>
        {{ form.body }}
      </fieldset>
        <button class="submit_button" type="submit">Submit</button>
    </form>
    <hr>
  {% endblock body_block %}


{% comment %}
<input type="text" name="title" maxlength="100" required="" id="id_title">
{% endcomment %}
